<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
					<endpointBehaviors>
						<behavior name="webBehaviour">
							<webHttp />
						</behavior>
					</endpointBehaviors>
					<serviceBehaviors>
						<behavior name="FlowersSale.OrdersMailServiceAspNetAjaxBehavior">
							<serviceMetadata httpGetEnabled="true" />
							<serviceDebug includeExceptionDetailInFaults="true" />
						</behavior>
					</serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="FlowersSale.OrdersMailService" behaviorConfiguration="FlowersSale.OrdersMailServiceAspNetAjaxBehavior">
                <endpoint address="" behaviorConfiguration="webBehaviour"
                    binding="webHttpBinding" contract="FlowersSale.IOrdersMailService" />
							<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
