/*flower-preview*/

.flower-preview-content
{
	display: none;
	position: relative;
	width: 700px;
	height: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	overflow: hidden;
	background-color: white;
	text-transform: none;
}

/**/
.dark-mask
{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.7;
	z-index: 100;
}

.flowers-list li
{
	cursor: pointer;
}

span.ac_close_black
{
	float: right;
	margin: 10px;
	width: 11px;
	height: 12px;
	cursor: pointer;
	background: transparent url(../images/close_black.png) no-repeat top left;
	opacity: 0.4;
}

span.ac_close_black:hover
{
	opacity: 1.0;
}

.flower-preview-image
{
	height: 288px;
	width: 360px;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	display: block;
	background-repeat: no-repeat;
	background-color: transparent;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
}

.flower-preview-title
{
	float: left;
	font-size:36px;
	margin-left: 20px;
	margin-top: 10px;
	width: 270px;
}

.flower-preview-price
{
	float: left;
	color: #000;
	font-size: 1.5em;
	font-weight: 700;
	margin: 5px 0px 0px 20px;
	width: 270px;
}

.flower-preview-description
{
	float: left;
	width: 270px;
	margin: 5px 0px 0px 20px;
	color: #666;
	word-wrap: break-word;
	font-size: 1.1em;
}

.flower-preview-selects-box
{
	width: 270px;
	float: left;
	margin: 5px 0px 0px 20px;
}

.flower-preview-color-select
{
	float: left;
	width: 180px;
}

.flower-preview-length-select
{
	float: left;
	width: 180px;
}

.flower-preview-quantity
{
	float: left;
	width: 180px;
}

.flower-preview-quantity-select
{
	float: left;
	width: 105px;
	margin-left: 6px;
}

.flower-preview-quantity-label
{
	float: left;
}

.flower-preview-add-to-basket-button
{
	float: left;
	width: 180px;
	height: 25px;
	cursor: pointer;
	margin: 5px 0px 0px 20px;
	color: black;
	box-shadow: 1px 1px 1px 0 rgba(0,0,0,.6);
	-moz-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.6);
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,.6);
	background: -moz-linear-gradient(top,#ffac59 0%,#ff9428 100%);
	background: -webkit-linear-gradient(top,#ffac59 0%,#ff9428 100%);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.flower-preview-add-to-basket-button:hover
{
	background: -moz-linear-gradient(top,grey 0%,#000 100%);
	background: -webkit-linear-gradient(top,grey 0%,#000 100%);
	color: white;
}

.flower-preview-add-to-basket-button span
{
	margin-left: 22px;
	text-transform: uppercase;
	font-family: Tahoma;
	font-weight: 400;
	font-size: 13px;
}

/* #region basket*/

.basket-open-button
{
	cursor: pointer;
	position: fixed;
	padding-top: 9px;
	left: 0px;
	bottom: 0px;
	width: 130px;
	height: 31px;
	background-color: #000;
}

.basket-open-button:hover
{
	padding-top: 11px;
	width: 132px;
}

.basket-open-label
{
	display: block;
	margin-left: 28px;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: White;
}

.basket-content
{
	display: none;
	position: relative;
	width: 700px;
	height: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	overflow: hidden;
	background-color: white;
	text-transform: none;
}

.basket-title
{
}

.basket-table-header
{
}

.basket-table-header th span
{
}

/* #endregion basket*/