.viewport
{ 
     height: 100%;
     overflow: hidden;
     position: relative; 
}

.overview
{
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    float:left;
}

.scrollbar
{
    margin: 0px 5px 0px 5px;
    position: relative;
    background-position: 0 0;
    float: right;
    width: 6px;
    cursor: default;
}

.track 
{
    height: 100%;
    width: 6px;
    position: relative;  
    cursor: default;  
}

.thumb 
{
    background-color: #AAA;
    height: 20px;
    width: 6px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    min-height: 10px;
}

.thumb .end 
{
    overflow: hidden;
    height: 0px;
    width: 0px;
}

.disable 
{
    display: none;
}