<td class="basket-item-description">
		<div class="basket-item-box">
				<div class="basket-item-small-image">
				</div>
				<span class="basket-item-title"></span><span class="basket-item-remove-label">Удалить</span>
		</div>
</td>
<td class="basket-item-options">
		<div class="basket-item-box">
				<table>
						<tbody class="basket-options-table">
								<tr>
										<td>
												Цвет:
										</td>
										<td class="bakset-item-color-label">
										</td>
								</tr>
								<tr>
										<td>
												Длина стебля:
										</td>
										<td class="bakset-item-length-label">
										</td>
								</tr>
								<tr>
										<td>
												Количество:
										</td>
										<td class="bakset-item-quantity-label">
										</td>
								</tr>
						</tbody>
				</table>
		</div>
</td>
<td class="basket-item-price">
		<div class="basket-item-box">
				<span class="bakset-item-price-label"></span>
		</div>
</td>
