<span class="ac_close_black"></span><span class="basket-title">Корзина</span>
<div class="basket-long-content">
		<table class="basket-items-table">
				<thead>
						<tr class="basket-table-header">
								<th>
										<span>Наименование</span>
								</th>
								<th>
										<span>Характеристики</span>
								</th>
								<th>
										<span>Цена</span>
								</th>
						</tr>
				</thead>
				<tbody class="basket-items-table-body">
				</tbody>
		</table>
</div>
<div class="basket-footer">
		<div class="basket-checkout-button orange-button">
				<span>оформить заказ</span>
		</div>
		<span class="basket-total-price"></span>
</div>
<div class="operation-result-pop-up basket-order-completed">
		<span class="basket-loading-icon"></span>
</div>
<div class="basket-user-info">
		<span>Введите ваше имя:</span>
		<input class="basket-user-name" type="text" />
		<span>Введите ваш номер телефона:</span>
		<input class="basket-user-phone-number" type="text" />
</div>
