<span class="ac_close_black"></span>
<div class="flower-preview-image">
</div>
<span class="flower-preview-title"></span><span class="flower-preview-price"></span>
<span class="flower-preview-diameter flower-preview-info"></span><span class="flower-preview-lifespan flower-preview-info">
</span><span class="flower-preview-petals flower-preview-info"></span><span class="flower-preview-description flower-preview-info">
</span>
<div class="flower-preview-selects-box">
		<span>Цвет:</span>
		<select class="flower-preview-color-select">
		</select>
		<span>Длина стебля:</span>
		<select class="flower-preview-length-select">
		</select>
		<div class="flower-preview-quantity">
				<span class="flower-preview-quantity-label">Количество:</span>
				<select class="flower-preview-quantity-select">
				</select>
		</div>
</div>
<div class="flower-preview-add-to-basket-button orange-button">
		<span>добавить в корзину</span>
</div>
<div class="operation-result-pop-up order-added-to-basket">
		<span>Товар успешно добавлен в корзину.</span></div>
