<span class="ac_close_black"></span>
<img class="info-banner" src="images/banner.jpg" />
<div class="info-text-block">
    <p><strong>Уважаемые гости!</strong></p>
    <p>Для более оперативной обработки ваших заказов и заявок на корпоративные поздравления просим связываться с нами по номерам <strong>+375 (33) 357-25-50</strong> и <strong>+375 (29) 668-25-50</strong>.</p>
    <p>Впервые в Минске! Мы рады пригласить вас на цветочную ярмарку – беспрецедентную возможность приобрести цветы в розницу по оптовым ценам! Ярмарка будет проходить <strong>с 5 по 8 марта по адресу ул. Академическая 15/2</strong>. Режим работы: <strong>круглосуточно</strong>.</p>
    <div class="get-banner orange-button">
        <span>получить купон на скидку</span>
    </div>
</div>